<!DOCTYPE html>
<html lang="es">

    <img src="logo.png" alt="Logo de Codilandia" class="logo" />
    <button class="volver" (click)="volver()">◀ VOLVER</button>
    <h1 class="titulo">Maria Luisa, curso 2ºB, solicitudes</h1>
    <div class="solicitudes-container">
        <div class="solicitud">
            <p>Juan Manuel</p>
            <button class="btn aceptar">Aceptar</button>
            <button class="btn cancelar">Cancelar</button>
        </div>
        <div class="solicitud">
            <p>Maria Garcia</p>
            <button class="btn aceptar">Aceptar</button>
            <button class="btn cancelar">Cancelar</button>
        </div> 
        <div class="solicitud">
            <p>Maria Garcia</p>
            <button class="btn aceptar">Aceptar</button>
            <button class="btn cancelar">Cancelar</button>
        </div> 
        <div class="solicitud">
            <p>Maria Garcia</p>
            <button class="btn aceptar">Aceptar</button>
            <button class="btn cancelar">Cancelar</button>
        </div> 
    </div>
</html>
