<div class="nivel7-container">
    <button class="volver" (click)="router.navigate(['/nivelesNinos'])">◀ VOLVER</button>
  
    <h1>Comentarios</h1>
  
    <div class="prueba">
        <h2>💬 ¿Qué es un comentario en código?</h2>
        <p>
          Un <strong>comentario</strong> es una nota que escribimos en el código para que las personas lo entiendan mejor. ¡El ordenador los ignora!
        </p>
        <p>En muchos lenguajes, los comentarios se escriben con <code>//</code> al principio de la línea:</p>
        <code class="comentario-code">// Este es un comentario</code><br><br>
        <p>También pueden estar al final de una línea de código:</p>
        <code>printf("Hola"); </code> <code class="comentario-code">// Imprime un saludo</code>
    </div>
      
  
    <!-- Ejercicio 1 - Mostrar comentario -->
    <div class="prueba">
        <h2>1. Escribe un comentario</h2>
        <p>Escribe un comentario que diga "Este programa saluda".</p>
        <p><strong>Ejemplo Notación: </strong> <code class="comentario-code">// Este es un comentario</code></p>
        <input type="text" [(ngModel)]="comentario1" [disabled]="resueltos.comentario1" />
        <button class="btn-verificar" (click)="verificarComentario1()" [disabled]="resueltos.comentario1">Verificar</button>
        <div class="nota">
            <img src="comentario.png" alt="comentario" class="comentario" />
        </div> 
        <div *ngIf="resueltos.comentario1">
          <span *ngIf="correctos.comentario1">✅ ¡Correcto!</span>
          <span *ngIf="!correctos.comentario1">❌ Prueba otra vez</span>
          <p>Tu comentario: <code>{{ comentario1 }}</code></p>
        </div>
      </div>

      <div class="prueba">
        <h2>¿Cómo distinguimos los comentarios?</h2>
        <p> 
          Los <strong>comentarios</strong> se ven de un 
          <span style="color:#006400; font-weight:bold;">color diferente</span> 
          al código normal para que podamos reconocerlos fácilmente.
        </p> 
        <p> Por ejemplo, en muchos editores de código, los comentarios aparecen en 
          <span style="color:#006400; font-weight:bold;">verde oscuro</span>, 
          mientras que el código tiene otros colores (como <span style="color:#000a9d; font-weight:bold;"> azul</span>, 
          <span style="color:#000000; font-weight:bold;"> negro </span> o <span style="color:#b00a0a; font-weight:bold;"> rojo</span>). 
        </p> 
        <p> 
            Esto nos ayuda a saber qué parte del texto <strong>le habla a las personas</strong> y qué parte <strong>le habla al ordenador</strong>. 
        </p>
      </div>

      <div class="prueba">
        <h2>🎨 Elige el color de tus comentarios</h2>
        
        <p>Selecciona tu color favorito para los comentarios:</p>
      
        <div style="margin-bottom: 15px;">
          <button (click)="cambiarColor('#006400')" style="background-color: #006400; color: white; margin-right: 10px;">Verde</button>
          <button (click)="cambiarColor('#00008B')" style="background-color: #00008B; color: white; margin-right: 10px;">Azul oscuro</button>
          <button (click)="cambiarColor('#8B0000')" style="background-color: #8B0000; color: white; margin-right: 10px;">Rojo oscuro</button>
          <button (click)="cambiarColor('#8B008B')" style="background-color: #8B008B; color: white;">Morado oscuro</button>
        </div>
      
        <p>Así se verán tus comentarios a partir de ahora:</p>
      
        <p [style.color]="colorComentario" style="font-weight: bold;">
          // Esto es un comentario importante
        </p>
      </div>
      

      <div class="prueba">
        <h2>2. ¿Qué comentario se ajusta mejor a cada línea de código?</h2>
        <p class="sp">Selecciona la opción adecuada para cada caso.</p>
        <p><code>printf("Adiós");</code></p>
      
        <div *ngIf="!resueltos.comentario2" class="lista-opciones">
          <label *ngFor="let opcion of opcionesComentario2" [style.color]="colorComentario" class="opcion comentario-code">
            <input type="radio"  name="comentario2" [value]="opcion" [(ngModel)]="comentario2" />
            {{ opcion }}
          </label>
          <button class="btn-verificar" (click)="verificarComentario2()">Verificar</button>
        </div>
      
        <div *ngIf="resueltos.comentario2">
          <span *ngIf="correctos.comentario2">✅ ¡Bien hecho!</span>
          <span *ngIf="!correctos.comentario2">❌ La respuesta era: <code class="comentario-code" [style.color]="colorComentario">// Este código imprime un adiós</code></span>
          <p>Tu respuesta: <code class="comentario-code" [style.color]="colorComentario">{{ comentario2 }}</code></p>
        </div>

        <br /><hr><br />

        <p><code>int total = 0;</code></p>
        <div *ngIf="!resueltos.comentario3" class="lista-opciones">
          <label *ngFor="let opcion of opcionesComentario3" [style.color]="colorComentario"  class="opcion comentario-code">
            <input type="radio" name="comentario3" [value]="opcion" [(ngModel)]="comentario3" />
            {{ opcion }}
          </label>
          <button class="btn-verificar" (click)="verificarComentario3()">Verificar</button>
        </div>
      
        <div *ngIf="resueltos.comentario3">
          <span *ngIf="correctos.comentario3">✅ ¡Bien hecho!</span>
          <span *ngIf="!correctos.comentario3">❌ La respuesta era: <code class="comentario-code" [style.color]="colorComentario">// Declara una variable entera llamada total</code></span>
          <p>Tu respuesta: <code class="comentario-code" [style.color]="colorComentario">{{ comentario3 }}</code></p>
        </div>

        <br /><hr><br />

        <p><code>int suma = x + y;</code></p>
        <div *ngIf="!resueltos.comentario4" class="lista-opciones">
          <label *ngFor="let opcion of opcionesComentario4" [style.color]="colorComentario"  class="opcion comentario-code">
            <input type="radio" name="comentario4" [value]="opcion" [(ngModel)]="comentario4" />
            {{ opcion }}
          </label>
          <button class="btn-verificar" (click)="verificarComentario4()">Verificar</button>
        </div>
      
        <div *ngIf="resueltos.comentario4">
          <span *ngIf="correctos.comentario4">✅ ¡Bien hecho!</span>
          <span *ngIf="!correctos.comentario4">❌ La respuesta era: <code class="comentario-code" [style.color]="colorComentario">// Suma los valores de "x" e "y" y los guarda en la variable suma</code></span>
          <p>Tu respuesta: <code class="comentario-code" [style.color]="colorComentario">{{ comentario4 }}</code></p>
        </div>
      </div>

      <div class="prueba">

        <h2>3. Asigna cada comentario a su línea de código correspondiente</h2>
        <h3>Para ello debes ordenar los comentarios de la derecha arrastrando con el ratón.</h3>
        <div class="row">
          <div class="col  com1 comentarios">
            <div *ngFor="let codigo of codigoConHuecos">
              <code>{{ codigo.codigo }}</code>
            </div>
          </div>
          <div class="col">
            <div cdkDropList #todoList="cdkDropList" [cdkDropListData]="comentariosDisponibles" class="comentarios"
            (cdkDropListDropped)="drop($event)">
            @for (item of comentariosDisponibles; track item) {
              <div class="comentario-code" [style.color]="colorComentario"  cdkDrag>{{item}}</div>
            }
          </div>
          </div>
        </div>

        <button class="btn-verificar" (click)="verificarComentario5()" [disabled]="resueltos.comentario5">Verificar</button>
        <div *ngIf="resueltos.comentario5">
          <span *ngIf="correctos.comentario5">✅ ¡Bien hecho!</span>
          <span *ngIf="!correctos.comentario5">❌ La respuesta es incorrecta</span>
        </div>
      </div>
      
         
    
    <!-- Botón final -->
    <button class="btn-finish" (click)="finishLevel()" [disabled]="!puedeFinalizar">Terminar Nivel</button>
  </div>
  