<!DOCTYPE html>
<html lang="es">

    <img src="logo.png" alt="Logo de Codilandia" class="logo" />
    <button class="volver" (click)="volver()">◀ VOLVER</button>
    <h1 class="titulo">Maria Luisa, curso 2ºB, estadísticas</h1>
    <div class="estadisticas-container">
        <div class="seccion">
            <h2 class="seccion-titulo">ESTADÍSTICAS GENERALES</h2>
            <div class="nivel-medio">Nivel medio: 12</div>
            
            <div class="distribucion">
                <div class="distribucion-titulo">Distribución por niveles:</div>
                <div class="grafico-placeholder">Gráfico de columnas</div>
            </div>
        </div>
        
        <div class="seccion">
            <h2 class="seccion-titulo">ESTADÍSTICAS INDIVIDUALES</h2>
            <div class="alumnos-container">
                <div class="alumno">
                    <button class="btn">Juan Manuel</button>
                </div>
                <div class="alumno">
                    <button class="btn">Juan Manuel</button>
                </div>
                <div class="alumno">
                    <button class="btn">Juan Manuel</button>
                </div>
                <div class="alumno">
                    <button class="btn">Juan Manuel</button>
                </div>
                <div class="alumno">
                    <button class="btn">Juan Manuel</button>
                </div>
                <div class="alumno">
                    <button class="btn">Juan Manuel</button>
                </div>
                <div class="alumno">
                    <button class="btn">Juan Manuel</button>
                </div>
                <div class="alumno">
                    <button class="btn">Juan Manuel</button>
                </div>
                <div class="alumno">
                    <button class="btn">Juan Manuel</button>
                </div>
                <div class="alumno">
                    <button class="btn">Juan Manuel</button>
                </div>
            </div>
        </div>
    </div>
</html>
