<div class="nivel9-container">
    <button class="volver" (click)="router.navigate(['/nivelesNinos'])">◀ VOLVER</button>
  
    <h1> Bucles while</h1>
  
    <div class="prueba">
        <h2>🔁 ¡Repetimos hasta que cambie algo!</h2>
        <p>
          A veces, queremos que un programa <strong>haga algo muchas veces</strong>, ¡hasta que ya no sea necesario!
        </p>
        <p>
          Por ejemplo: <br>
          👉 Mientras <strong>no esté limpia</strong> tu habitación, <strong>sigues ordenando</strong>. 🧹<br>
          👉 Mientras <strong>no te acabes el helado</strong>, <strong>sigues comiendo</strong>. 🍦
        </p>
        <p>Para eso usamos <code>while</code> (que significa <strong>"mientras"</strong>).</p>
        <p>Así le decimos al programa: <strong>"Mientras pase algo, sigue repitiendo esto."</strong></p>
      </div>

      <div class="prueba">
        <h2>1. Escribe un primer bucle con while</h2>
        <p>Escribe una decisión que ejecute <strong>bailo()</strong></p>
        <p><strong>Ejemplo Notación:</strong></p>
        <p>
          <pre><code>while (habitacion_sucia) {{ '{' }}
        ordeno("habitacion");
{{ '}' }}<code style="color: white" >                         </code></code></pre>
        <pre class="esp"><code class="enunciado">while (suena_musica) {{ '{' }}</code></pre>
        <input type="text" [(ngModel)]="comentario1" [disabled]="resueltos.comentario1" />
        <pre><code class="enunciado">{{ '}' }}</code></pre>
        <button class="btn-verificar" (click)="verificarPrueba1()"  [disabled]="resueltos.comentario1">Verificar</button>
        <div *ngIf="resueltos.comentario1">
          <span *ngIf="correctos.comentario1">✅ ¡Correcto!</span>
          <span *ngIf="!correctos.comentario1">❌ La respuesta era: <code>bailo();</code></span>
          <p>Tu respuesta: <code>{{ comentario1 }}</code></p>
        </div>

        <div *ngIf="correctos.comentario1 && resueltos.comentario1" class="nota">
          <img src="robot.gif" alt="robot bailando" class="robot" />
        </div>

      </div>

      <div class="prueba">
        <h3>¡Usemos variables booleanas!</h3>
        <p>
          Podemos usar variables booleanas para evaluar nuestros bucles while.
          El bucle terminará cuando el valor de la variable sea <strong>true</strong> o <strong>false</strong>
          según nos convenga.
        <pre><code>boolean acabado = false;
  while (acabado == false) {{ '{' }}
     <code class="comentario-code">// Espero</code>
  {{ '}' }}<code style="color: white" >                         </code></code></pre>
      </div>

      <div class="prueba">
        <h2>2. Creamos un bucle con una variable booleana</h2>
        <p>¿Qué tiene que pasar para que termine el bucle? </p>
 
        <pre class="esp"><code class="enunciado">boolean terminado = true;</code></pre>
        <pre><code class="enunciado">while (terminado == true) {{ '{' }}</code></pre>
        <input type="text" [(ngModel)]="comentario2" [disabled]="resueltos.comentario2" />
        <pre><code class="enunciado">{{ '}' }}</code></pre>
        <button class="btn-verificar" (click)="verificarPrueba2()"  [disabled]="resueltos.comentario2">Verificar</button>
        <div *ngIf="resueltos.comentario2">
          <span *ngIf="correctos.comentario2">✅ ¡Correcto!</span>
          <span *ngIf="!correctos.comentario2">❌ La respuesta era: <code>terminado = false;</code></span>
          <p>Tu respuesta: <code>{{ comentario2 }}</code></p>
        </div>

      </div>

      <div class="prueba">
        <h3>⚠️ ¡Cuidado con los bucles infinitos!</h3>
        <p>
          A veces, si olvidamos cambiar la condición, el bucle <strong>nunca termina</strong>.  
          Eso se llama un <strong>bucle infinito</strong> y puede hacer que el programa se quede atascado. 😱
        </p>
          Por ejemplo:
          <pre><code>boolean jugando = true;
      while (jugando == true) {{ '{' }}
         juego();
      {{ '}' }}<code style="color: white">                         </code></code></pre>
        <p>
          Si nunca ponemos <code>jugando = false;</code> dentro del bucle, ¡nunca parará de jugar! 🎮
        </p>
        <p>
          ⚠️ <strong>¡Recuerda siempre asegurarte de que el bucle pueda terminar!</strong>
        </p>
      </div>
      

      <div class="prueba">
        <h2>3. Escribe un bucle usando variables</h2>
        <p>Elige un número de pasteles entre <strong>1</strong> y <strong>10</strong> que quieras comer.</p>
        <p>En cada iteración del bucle debes<strong> eliminar un pastel.</strong></p>
        <p><strong>Ejemplo Notación:</strong></p>
        <p>
          <pre><code>
int manzanas = 0;
       while (manzanas < 10)  {{ '{' }}
                                    manzanas = manzanas + 1; <code class="comentario-code">// Añade una manzana</code>
   {{ '}' }}<code style="color: white" >                   </code></code></pre>
        <pre><code class="enunciado">int pasteles = </code></pre>
        <input type="number" [(ngModel)]="numeroPasteles" [disabled]="resueltos.comentario3 || numeroPasteles < 1 || numeroPasteles > 10" min="1" max="10" /><code class="enunciado">;</code>
        <pre><code class="enunciado">while (pasteles > 0) {{ '{' }}</code></pre>
        <input type="text" [(ngModel)]="comentario4" [disabled]="resueltos.comentario4" /><code class="comentario-code">  // Comer un pastel</code>
        <pre><code class="enunciado">{{ '}' }}</code></pre>
        <div class="pasteles">
          <div *ngIf="numeroPasteles < 11">
            <img *ngFor="let m of [].constructor(numeroPasteles) " src="pastel.png" alt="manzana" />
          </div>
        </div>
        <button class="btn-verificar" (click)="verificarPrueba3()"  [disabled]="resueltos.comentario3 && correctos.comentario3 && resueltos.comentario4">Verificar</button>
        <div *ngIf="resueltos.comentario3 && resueltos.comentario4">
          <span *ngIf="correctos.comentario4 && correctos.comentario3">✅ ¡Correcto!</span>
          <span *ngIf="!correctos.comentario4">❌ La respuesta era: <code>pasteles = pasteles - 1;</code></span>
          <p>Tu respuesta: <code>{{ comentario4 }}</code></p>
        </div>
      </div>
      
  
      <div class="prueba">
        <h2>4. Quiz final ¿Qué has aprendido de los bucles while?</h2>
        <p class="sp">Selecciona la opción adecuada para cada caso en base a lo visto anteriormente.</p>
        
        <p>¿Qué pasa si la condición del bucle while nunca se vuelve falsa?</p>
      
        <div *ngIf="!resueltos.comentario5" class="lista-opciones">
          <label *ngFor="let opcion of opciones2">
            <input type="radio"  name="comentario2" [value]="opcion" [(ngModel)]="comentario5" />
            {{ opcion }}
          </label>
          <button class="btn-verificar" (click)="verificarPrueba4()">Verificar</button>
        </div>
      
        <div *ngIf="resueltos.comentario5">
          <span *ngIf="correctos.comentario5">✅ ¡Bien hecho!</span>
          <span *ngIf="!correctos.comentario5">❌ La respuesta era: <code class="comentario-code">El bucle sigue para siempre.</code></span>
          <p>Tu respuesta: <strong>{{ comentario5 }}</strong> </p>
        </div>

        <br /><hr><br />

        <pre><code>
int galletas = 5;
    while (galletas > 0)  {{ '{' }}
                               galletas = galletas - 1; <code class="comentario-code">// Como una galleta</code>
 {{ '}' }}<code style="color: white" >                   </code></code></pre>

        <p>¿Cuántas veces se ejecuta el bucle?</p>
        <div *ngIf="!resueltos.comentario6" class="lista-opciones">
          <label *ngFor="let opcion of opciones3" >
            <input type="radio" name="comentario3" [value]="opcion" [(ngModel)]="comentario6" />
            {{ opcion }}
          </label>
          <button class="btn-verificar" (click)="verificarPrueba5()">Verificar</button>
        </div>
      
        <div *ngIf="resueltos.comentario6">
          <span *ngIf="correctos.comentario6">✅ ¡Bien hecho!</span>
          <span *ngIf="!correctos.comentario6">❌ La respuesta era: 5</span>
          <p>Tu respuesta: <strong>{{ comentario6 }}</strong></p>
        </div>

        <br /><hr><br />

        <p>¿Cuál de estas frases es como un bucle en la vida real?</p>
        <div *ngIf="!resueltos.comentario7" class="lista-opciones">
          <label *ngFor="let opcion of opciones4"  >
            <input type="radio" name="comentario7" [value]="opcion" [(ngModel)]="comentario7" />
            {{ opcion }}
          </label>
          <button class="btn-verificar" (click)="verificarPrueba6()">Verificar</button>
        </div>
      
        <div *ngIf="resueltos.comentario7">
          <span *ngIf="correctos.comentario7">✅ ¡Bien hecho!</span>
          <span *ngIf="!correctos.comentario7">❌ La respuesta era: Mientras no esté limpia tu habitación, sigues ordenando.</span>
          <p>Tu respuesta: <strong>{{ comentario7 }}</strong></p>
        </div>
      </div>
      <button class="btn-finish" (click)="finishLevel()" [disabled]="!puedeFinalizar">Terminar Nivel</button>
</div>