<!DOCTYPE html>
<html lang="es">

    <img src="logo.png" alt="Logo de Codilandia" class="logo" />
    <button class="volver" (click)="volver()">◀ VOLVER</button>
    <h1 class="titulo">Maria Luisa, curso 2ºB, alumnos</h1>
    
    <div class="alumnos-container">
        <div class="alumno">
            <p>Juan Manuel</p>
            <button class="btn eliminar">Expulsar</button>
        </div>
        <div class="alumno">
            <p>Maria Garcia</p>
            <button class="btn eliminar">Expulsar</button>
        </div> 
        <div class="alumno">
            <p>Maria Garcia</p>
            <button class="btn eliminar">Expulsar</button>
        </div> 
        <div class="alumno">
            <p>Maria Garcia</p>
            <button class="btn eliminar">Expulsar</button>
        </div> 
        <div class="alumno">
            <p>Maria Garcia</p>
            <button class="btn eliminar">Expulsar</button>
        </div> 
        <div class="alumno">
            <p>Maria Garcia</p>
            <button class="btn eliminar">Expulsar</button>
        </div> 
        <div class="alumno">
            <p>Maria Garcia</p>
            <button class="btn eliminar">Expulsar</button>
        </div> 
        <div class="alumno">
            <p>Maria Garcia</p>
            <button class="btn eliminar">Expulsar</button>
        </div> 
        <div class="alumno">
            <p>Maria Garcia</p>
            <button class="btn eliminar">Expulsar</button>
        </div> 
        <div class="alumno">
            <p>Maria Garcia</p>
            <button class="btn eliminar">Expulsar</button>
        </div> 
        <div class="alumno">
            <p>Maria Garcia</p>
            <button class="btn eliminar">Expulsar</button>
        </div> 
    </div>
</html>
