<div class="profesor-container">
    
    <button class="volver" (click)="volver()">◀ VOLVER</button>
      <h1 class="titulo">Nombre</h1>
      <div class="container">
        <div class="cursos-box">
                <h2><i class="bi bi-people-fill"></i> MIS CURSOS </h2>
                <div class="cursos-grid">
                  <button class="curso-btn">Clase 2°B</button>
                  <button class="curso-btn">Clase 2°C</button>
                  <button class="curso-btn">Clase 2°C</button>
                </div>
              </div>
            <div class="acciones">
                <button class="crear-btn"><i class="bi bi-person-fill"></i> INDIVIDUAL</button>
                <button class="crear-btn">UNIRME A UN CURSO</button>
            </div>
      </div>



      <img src="logo.png" alt="Logo de Codilandia" class="logo" />
  </div>

  
    