<div class="profesor-container">
    <button class="volver" (click)="volver()">◀ VOLVER</button>
    <h1 class="titulo">Maria Luisa, Curso 2ºA</h1>
    <h2 class="codigo">código: 875693</h2>

    <div class="cursos-grid">
        <div class="notificacion">4</div>
        <button class="curso-btn"(click)="solictudes()">SOLICITUDES</button>
    </div>

    <div class="cursos-grid">
        <button class="curso-btn"(click)="alumnos()">VER ALUMNOS</button>
    </div>

    <div class="cursos-grid">
        <button class="curso-btn"(click)="estadisticas()">VER ESTADÍSTICAS</button>
    </div>

    <img src="logo.png" alt="Logo de Codilandia" class="logo" />
</div>
