<!DOCTYPE html>
<html lang="es">
<head></head>
<body>   
    <img src="logo.png" alt="Logo de Codilandia" class="logo" />
    <button class="volver" (click)="volver()">◀ VOLVER</button>
    <h1 class="titulo">TUS NIVELES</h1>
    <div class="niveles-container">
        <!-- Botones de niveles -->
        <button class="nivel-btn" data-numero="1"></button>
        <button class="nivel-btn" data-numero="2"></button>
        <button class="nivel-btn" data-numero="3"></button>
        <button class="nivel-btn" data-numero="4"></button>
        <button class="nivel-btn" data-numero="5"></button>
        <button class="nivel-btn" data-numero="6"></button>
        <button class="nivel-btn" data-numero="7"></button>
        <button class="nivel-btn" data-numero="8"></button>
        <button class="nivel-btn" data-numero="9"></button>
        <button class="nivel-btn" data-numero="10"></button>
        <button class="nivel-btn" data-numero="11"></button>
        <button class="nivel-btn" data-numero="12"></button>
        <button class="nivel-btn" data-numero="13"></button>
        <button class="nivel-btn" data-numero="14"></button>
        <button class="nivel-btn" data-numero="15"></button>
        <button class="nivel-btn" data-numero="16"></button>
        <button class="nivel-btn" data-numero="17"></button>
        <button class="nivel-btn" data-numero="18"></button>
        <button class="nivel-btn" data-numero="19"></button>
        <button class="nivel-btn" data-numero="20"></button>
    </div>
</body>