<div class="profesor-container">
  <button class="volver" (click)="volver()">◀ VOLVER</button>
    <h1 class="titulo">Nombre</h1>
    
    <div class="cursos-box">
      <h2><i class="bi bi-people-fill"></i> MIS CURSOS </h2>
      
      <div class="cursos-grid">
        <button class="curso-btn">Clase 2°A</button>
        <button class="curso-btn">Clase 2°B</button>
        <button class="curso-btn">Clase 2°C</button>
        <button class="curso-btn">Clase 2°C</button>
        <button class="curso-btn">Clase 2°C</button>
        
        <!-- Puedes agregar más botones si es necesario, y se organizarán en las filas adecuadas -->
      </div>
  
      <button class="crear-btn">CREAR NUEVO CURSO</button>
    </div>
  
    <img class="logo" src="logo.png" alt="Logo Codilandia">
</div>

  